<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>📚 Bienvenido a la Biblioteca Web</h1>
    <ul>
        <li><a href="/usuarios">👤 Ver usuarios</a></li>
        <li><a href="/libros">📚 Ver libros</a></li>
        <li><a href="/prestamos">📦 Prestar libro</a></li>
        <li><a href="/devoluciones">🔄 Devolver libro</a></li>
        <li><a href="/historial">📖 Ver historial de usuario</a></li>
        <li><a href="/exportar-excel">⬇️ Exportar historial a Excel</a></li>
        <li><a href="/estadisticas">📊 Ver estadísticas</a></li>

    </ul>
</body>
</html>
